html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: lightgrey;
  padding: 20px 100px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

input {
  font-size: 1em;
  border: none;
  padding: 5px;
  background-color:white;
}

#form-submit-btn {
  padding: 5px 10px;
}
#form-submit-btn:hover {
  cursor: pointer;
}

select {
  border: none;
  background-color: white;
  font-size: .9em;
  padding: 5px;
  color: #575757;
  font-family: Arial;
}

#main {
  margin-top: 160px;
  padding: 0px 100px;
}

.courses {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0px;
}

.course-info {
  display: flex;
  flex-direction: row;
  margin: 30px 0px;
}

.course-name {
  width: 60%
}

.edit-course-btn {
  float: right;
  font-size: 10px;
}
.edit-course-btn:hover {
  cursor: pointer;
}

.edit-test-btn {
  font-size: 10px;
}
.edit-test-btn:hover {
  cursor: pointer;
}

.show-tests {
  width: 100%;
  text-align: center;
}
.show-tests:hover {
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

button {
  font-size: 1em;
  padding: 10px;
  font-family: Arial;
  border: none;
  background: lightgrey;  
  margin: auto;
  margin-top: 30px;
  display: block;
}
button:hover {
  cursor: pointer;
}
button#delete-btn {
  margin-top: 10px;
}

/* Modal for Editing or Adding  */
#modal {
  background-color: #808080c9;
  top: 85px;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.modal-body {
  border: 3px solid #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 425px;
  margin-left: -350px;
  margin-top: -250px;
  padding: 10px;
  background-color: white;
  z-index: 1;
  color: black;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}

.exit-btn:hover {
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.modal-input {
  border: 1px black solid;
  padding: 11px;
  margin: 10px;
}

label {
  margin: 0px 11px;
}

.form-btn {
  width: 25%;
  font-size: 1em;
  padding: 10px;
  font-family: Arial;
  border: none;
  background: lightgrey;
  margin: 10px;
}
.form-btn:hover {
  cursor: pointer;
}

.delete-div {
  text-align: center;
  margin-top: 20px;
}